.clinicprofile {
    padding-top: 24px;
    padding-bottom: 16px;
    min-height: 100vh;

    .clinicprofiletop {
        border-radius: 32px;
        background: var(--Base-White, #FFF);
        padding: 48px;
        margin-bottom: 16px;

        .topaddress {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 32px;

            .topaddresspara {
                display: flex;
                padding: 4px 8px;
                justify-content: center;
                align-items: center;
                color: var(--Base-Text, #12215C);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }
        }

        .bookmain {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bookmainleft {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 32px;

                .bookleftimg {
                    width: 200px;
                    height: 200px;
                    border-radius: 200px;
                    object-fit: cover;
                    object-position: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .bookleftimginner {
                        width: 100%;
                        height: 100%;
                        border-radius: 200px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .booklefttexts {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 16px;

                    .booklefthead {
                        color: var(--Base-Text, #12215C);
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 48px;
                    }

                    .bookleftbluepara {
                        color: var(--Blue-300, #002EE5);
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 26px;
                        letter-spacing: 0.3px;
                    }

                    .raitingmain {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 14px;

                        .raitingpara {
                            color: var(--Base-Text, #12215C);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }
                }
            }

            .bluebtn {
                border-radius: 57px;
                background: var(--Blue-Base, #2652FF);
                display: flex;
                padding: 16px 24px;
                justify-content: center;
                align-items: center;
                color: var(--Base-White, #FFF);
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                border: none;
            }
        }
    }

    .clinicaltabs {
        border-radius: 24px !important;
        background: var(--Base-White, #FFF);
        padding: 0px 24px;
        border-radius: 0px;
        margin-bottom: 16px;

        .nav-item.show .nav-link,
        .nav-link.active {
            border: none;
            border-bottom: 2px solid var(--Blue-Base, #2652FF) !important;
            color: var(--Blue-Base, #2652FF) !important;
            background: transparent;
        }

        .nav-item {
            .nav-link {
                display: flex;
                padding: 24px 32px;
                justify-content: center;
                align-items: center;
                color: var(--Grey-600, #8F8FA6);
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
                border: none;
                border-bottom: 2px solid transparent;
                outline: none;
            }
        }
    }
}

@media(max-width:1024px) {
    .clinicprofile .clinicprofiletop .bookmain {
        justify-content: center;
        flex-direction: column;
        gap: 24px;
    }

    .clinicprofile .clinicprofiletop .bookmain .bookmainleft {
        flex-direction: column;
        gap: 24px;
    }

    .clinicprofile .clinicprofiletop {
        padding: 24px;
    }

    .clinicprofile .clinicprofiletop .topaddress {
        margin-bottom: 24px;
    }

    .clinicprofile .clinicprofiletop .bookmain .bookmainleft .bookleftimg {
        width: 120px;
        height: 120px;
    }

    .clinicprofile .clinicprofiletop .bookmain .bookmainleft .booklefttexts {
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .clinicprofile .clinicprofiletop .bookmain .bookmainleft .booklefttexts .booklefthead {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
    }

    .clinicprofile .clinicprofiletop .bookmain .bookmainleft .booklefttexts .bookleftbluepara {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }

    .clinicprofile .clinicprofiletop .bookmain .bluebtn {
        padding: 16px 24px;
        font-size: 18px;
        line-height: 24px;
    }

    .clinicprofile .clinicaltabs .nav-item .nav-link {
        font-size: 14px;
        line-height: 22px;
        width: 100%;
    }
    .clinicprofile .clinicaltabs .nav-item {
        width: 25%;
    }
    .clinicprofile .clinicaltabs{
        padding: 0px 16px;
    }
    .clinicprofile {
        padding-top: 32px;
    }
}